In [109]:
from prometheus_api_client import PrometheusConnect, MetricsList
from prometheus_api_client.metric_range_df import MetricRangeDataFrame
from prometheus_api_client.utils import parse_datetime
import pandas as pd

The purpose of this notebook is to explore prometheus_api_client behaviour when extracting metric data, and accordingly decide what will be the "right" behaviour of query_to_df() in utils and the affected architecture of the project, specifically decide if it allowed to get as input a metric or query that result in multiple time series, such as summary metric. in such cases custom_query_range will result in sequences of jsons where each json is reffered to unique combination of labels (for example, unique combination of job, instance and quantile.

In [85]:
prom = PrometheusConnect(url="http://localhost:9090", disable_ssl=True)

define function to extract query range and format it as dataframe:

In [86]:
def query2df(query, columns=None):
    query_range = prom.custom_query_range(query ,
                            start_time=start_time,
                            end_time=end_time,
                            step=step)
    return MetricRangeDataFrame(query_range,columns=columns)

lets choose a summary metric:

In [87]:
start_time = parse_datetime("5min")
end_time = parse_datetime("now")
step = "5s"

query = "prometheus_target_interval_length_seconds"

df = query2df(query)
df.head()

,__name__,instance,interval,job,quantile,value
timestamp,,,,,,
1638643944,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.9846831
1638643949,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.9846831
1638643954,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.9846831
1638643959,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.9846831
1638643964,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.9846831

In [88]:
df.describe()

,__name__,instance,interval,job,quantile,value
count,305,305,305,305,305,305
unique,1,1,1,1,5,25
top,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.99,5.015134
freq,305,305,305,305,61,38

we can see that the query results in additional columns due to the different quantiles. lets find all the unique combination of labels columns:

In [89]:
list(df.columns[1:-1])

['instance', 'interval', 'job', 'quantile']

In [90]:
groups = df.groupby(list(df.columns[1:-1]))
groups.groups.keys()

dict_keys([('localhost:9090', '5s', 'prometheus', '0.01'), ('localhost:9090', '5s', 'prometheus', '0.05'), ('localhost:9090', '5s', 'prometheus', '0.5'), ('localhost:9090', '5s', 'prometheus', '0.9'), ('localhost:9090', '5s', 'prometheus', '0.99')])

As expected there are 5 distinct metrics, against the 5 quantiles in summary metrics. In general it possible that there will be more metrics due to different instances or other labels.

Ofcourse we can define unique query that gives only one metric:

In [91]:
query = 'prometheus_target_interval_length_seconds{instance="localhost:9090", job="prometheus", quantile="0.01"}'

df = query2df(query)
df.head()

,__name__,instance,interval,job,quantile,value
timestamp,,,,,,
1638643944,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.9846831
1638643949,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.9846831
1638643954,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.9846831
1638643959,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.9846831
1638643964,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.9846831

In [92]:
df.describe()

,__name__,instance,interval,job,quantile,value
count,61,61,61,61,61,61
unique,1,1,1,1,1,4
top,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.9823129999999995
freq,61,61,61,61,61,27

In [93]:
groups = df.groupby(['instance', 'job', 'quantile'])
groups.groups.keys()

dict_keys([('localhost:9090', 'prometheus', '0.01')])

Note, that if we pass specific columns to custom_query_range() we still get all the 305 values but without the the quantile label. No aggregation is done:

In [94]:
df = query2df("prometheus_target_interval_length_seconds", columns=['timestamp','instance','value'])
df.head()

                  instance      value
timestamp
1638643944  localhost:9090  4.9846831
1638643949  localhost:9090  4.9846831
1638643954  localhost:9090  4.9846831
1638643959  localhost:9090  4.9846831
1638643964  localhost:9090  4.9846831

In [95]:
df.describe()

              instance     value
count              305       305
unique               1        25
top     localhost:9090  5.015134
freq               305        38

lets load again the summary metric to explore the manipulation need to be done to get the desired output to be fitted with prophet:

In [96]:
query = "prometheus_target_interval_length_seconds"
df = query2df(query)

In [97]:
df = df.reset_index().rename(columns={'value':'y', 'timestamp':'ds'}).astype({'y':'float'})
df.head()

,ds,__name__,instance,interval,job,quantile,y
0,1638643944,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.984683
1,1638643949,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.984683
2,1638643954,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.984683
3,1638643959,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.984683
4,1638643964,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.984683

In [98]:
df.dtypes

ds            int64
__name__     object
instance     object
interval     object
job          object
quantile     object
y           float64
dtype: object

In [99]:
df['ds'] = pd.to_datetime(df['ds'],unit='s').astype('datetime64[ns, Asia/Jerusalem]').dt.tz_localize(None)
df.head()

,ds,__name__,instance,interval,job,quantile,y
0,2021-12-04 20:52:24,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.984683
1,2021-12-04 20:52:29,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.984683
2,2021-12-04 20:52:34,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.984683
3,2021-12-04 20:52:39,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.984683
4,2021-12-04 20:52:44,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.984683

so these are the identical manipulation as we do in query_to_df(). let see how we get each group:

In [101]:
dfgb = df.groupby(list(df.columns[1:-1]))

for example the first group (quantile 0.01):

In [108]:
dfgb.get_group(list(dfgb.groups.keys())[0])

,ds,__name__,instance,interval,job,quantile,y
0,2021-12-04 20:52:24,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.984683
1,2021-12-04 20:52:29,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.984683
2,2021-12-04 20:52:34,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.984683
3,2021-12-04 20:52:39,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.984683
4,2021-12-04 20:52:44,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.984683
...,...,...,...,...,...,...,...
56,2021-12-04 20:57:04,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.980465
57,2021-12-04 20:57:09,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.980465
58,2021-12-04 20:57:14,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.980465
59,2021-12-04 20:57:19,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.980465
60,2021-12-04 20:57:24,prometheus_target_interval_length_seconds,localhost:9090,5s,prometheus,0.01,4.982313

but maybe there is more efficient way to extract the data. lets explore MetricList:

In [110]:
query_range = prom.custom_query_range(query ,
                            start_time=start_time,
                            end_time=end_time,
                            step=step)

metric_object_list = MetricsList(query_range)

In [111]:
metric_object_list

[<prometheus_api_client.metric.Metric at 0x18da7354848>,
 <prometheus_api_client.metric.Metric at 0x18da6a6cac8>,
 <prometheus_api_client.metric.Metric at 0x18da6a515c8>,
 <prometheus_api_client.metric.Metric at 0x18da73ac9c8>,
 <prometheus_api_client.metric.Metric at 0x18da6f1aa48>]

In [113]:
for item in metric_object_list:
    print(item.metric_name, "\n")

prometheus_target_interval_length_seconds

prometheus_target_interval_length_seconds

prometheus_target_interval_length_seconds

prometheus_target_interval_length_seconds

prometheus_target_interval_length_seconds

In [112]:
for item in metric_object_list:
    print(item.metric_name, item.label_config, "\n")

prometheus_target_interval_length_seconds {'instance': 'localhost:9090', 'interval': '5s', 'job': 'prometheus', 'quantile': '0.01'}

prometheus_target_interval_length_seconds {'instance': 'localhost:9090', 'interval': '5s', 'job': 'prometheus', 'quantile': '0.05'}

prometheus_target_interval_length_seconds {'instance': 'localhost:9090', 'interval': '5s', 'job': 'prometheus', 'quantile': '0.5'}

prometheus_target_interval_length_seconds {'instance': 'localhost:9090', 'interval': '5s', 'job': 'prometheus', 'quantile': '0.9'}

prometheus_target_interval_length_seconds {'instance': 'localhost:9090', 'interval': '5s', 'job': 'prometheus', 'quantile': '0.99'}

so we can see that MetricList save the name and the labels of the metric. but the big thing is that it saves also the metric values in the exact format that we need in Prophet:

In [126]:
for item in metric_object_list:
    print(item)

{
metric_name: 'prometheus_target_interval_length_seconds'
label_config: {'instance': 'localhost:9090', 'interval': '5s', 'job': 'prometheus', 'quantile': '0.01'}
metric_values:                     ds         y
0  2021-12-04 18:52:24  4.984683
1  2021-12-04 18:52:29  4.984683
2  2021-12-04 18:52:34  4.984683
3  2021-12-04 18:52:39  4.984683
4  2021-12-04 18:52:44  4.984683
..                 ...       ...
56 2021-12-04 18:57:04  4.980465
57 2021-12-04 18:57:09  4.980465
58 2021-12-04 18:57:14  4.980465
59 2021-12-04 18:57:19  4.980465
60 2021-12-04 18:57:24  4.982313

[61 rows x 2 columns]
}
{
metric_name: 'prometheus_target_interval_length_seconds'
label_config: {'instance': 'localhost:9090', 'interval': '5s', 'job': 'prometheus', 'quantile': '0.05'}
metric_values:                     ds         y
0  2021-12-04 18:52:24  4.988024
1  2021-12-04 18:52:29  4.988024
2  2021-12-04 18:52:34  4.988024
3  2021-12-04 18:52:39  4.988024
4  2021-12-04 18:52:44  4.988024
..                 ...       ...
56 2021-12-04 18:57:04  4.986723
57 2021-12-04 18:57:09  4.986723
58 2021-12-04 18:57:14  4.986723
59 2021-12-04 18:57:19  4.986723
60 2021-12-04 18:57:24  4.987699

[61 rows x 2 columns]
}
{
metric_name: 'prometheus_target_interval_length_seconds'
label_config: {'instance': 'localhost:9090', 'interval': '5s', 'job': 'prometheus', 'quantile': '0.5'}
metric_values:                     ds         y
0  2021-12-04 18:52:24  4.999999
1  2021-12-04 18:52:29  4.999999
2  2021-12-04 18:52:34  5.000223
3  2021-12-04 18:52:39  5.000223
4  2021-12-04 18:52:44  5.000223
..                 ...       ...
56 2021-12-04 18:57:04  5.000223
57 2021-12-04 18:57:09  5.000199
58 2021-12-04 18:57:14  5.000199
59 2021-12-04 18:57:19  5.000199
60 2021-12-04 18:57:24  5.000199

[61 rows x 2 columns]
}
{
metric_name: 'prometheus_target_interval_length_seconds'
label_config: {'instance': 'localhost:9090', 'interval': '5s', 'job': 'prometheus', 'quantile': '0.9'}
metric_values:                     ds         y
0  2021-12-04 18:52:24  5.010203
1  2021-12-04 18:52:29  5.010203
2  2021-12-04 18:52:34  5.010203
3  2021-12-04 18:52:39  5.010203
4  2021-12-04 18:52:44  5.010203
..                 ...       ...
56 2021-12-04 18:57:04  5.009675
57 2021-12-04 18:57:09  5.009675
58 2021-12-04 18:57:14  5.009675
59 2021-12-04 18:57:19  5.009272
60 2021-12-04 18:57:24  5.009272

[61 rows x 2 columns]
}
{
metric_name: 'prometheus_target_interval_length_seconds'
label_config: {'instance': 'localhost:9090', 'interval': '5s', 'job': 'prometheus', 'quantile': '0.99'}
metric_values:                     ds         y
0  2021-12-04 18:52:24  5.016470
1  2021-12-04 18:52:29  5.016470
2  2021-12-04 18:52:34  5.016470
3  2021-12-04 18:52:39  5.016470
4  2021-12-04 18:52:44  5.016470
..                 ...       ...
56 2021-12-04 18:57:04  5.023239
57 2021-12-04 18:57:09  5.023239
58 2021-12-04 18:57:14  5.023239
59 2021-12-04 18:57:19  5.015134
60 2021-12-04 18:57:24  5.015134

[61 rows x 2 columns]
}

the metric values are saved as df with the exact column names, ds and y, and the exact format: datetime and float!

In [143]:
tmp = metric_object_list[0]

In [133]:
tmp.metric_values

                    ds         y
0  2021-12-04 18:52:24  4.984683
1  2021-12-04 18:52:29  4.984683
2  2021-12-04 18:52:34  4.984683
3  2021-12-04 18:52:39  4.984683
4  2021-12-04 18:52:44  4.984683
..                 ...       ...
56 2021-12-04 18:57:04  4.980465
57 2021-12-04 18:57:09  4.980465
58 2021-12-04 18:57:14  4.980465
59 2021-12-04 18:57:19  4.980465
60 2021-12-04 18:57:24  4.982313

[61 rows x 2 columns]

In [152]:
tmp.metric_values.dtypes

ds    datetime64[ns]
y            float64
dtype: object

also, we can manipulate the label config dict to a string that can be called in prometheus api:

In [149]:
str(tmp.label_config).replace(", '",", ").replace("': ","=").replace("{'","{")

"{instance='localhost:9090', interval='5s', job='prometheus', quantile='0.01'}"

but life isn't so easy. when the query is not raw metric but rather some expression we get error when trying to create MetricList object:

In [170]:
query = "rate(go_memstats_alloc_bytes_total[1m])"

In [171]:
query_range = prom.custom_query_range(query ,
                            start_time=start_time,
                            end_time=end_time,
                            step=step)

In [172]:
metric_object_list = MetricsList(query_range)

KeyError: '__name__'

Of course: expressions doesn't have \_\_name\_\_ property... hence it seems that MetricList is suited only to basic metrics. what about MetricRangeDataFrame()? let's check:

In [173]:
df = MetricRangeDataFrame(query_range)

In [174]:
df.head()

                  instance         job               value
timestamp
1638643944  localhost:9090  prometheus   59872.70875763747
1638643949  localhost:9090  prometheus  61841.572277875755
1638643954  localhost:9090  prometheus   61986.18181818181
1638643959  localhost:9090  prometheus   61616.62515226996
1638643964  localhost:9090  prometheus   63621.77692111866

so MetricRangeDataFrame can handle this cases by ommiting the \_\_name\_\_ column

let's see if it can handle expressions that output multiple time-series as in expression on summary metric:

In [176]:
query = "rate(prometheus_target_interval_length_seconds[1m])"
query_range = prom.custom_query_range(query ,
                            start_time=start_time,
                            end_time=end_time,
                            step=step)

In [177]:
len(query_range)

5

In [178]:
query_range

[{'metric': {'instance': 'localhost:9090',
   'interval': '5s',
   'job': 'prometheus',
   'quantile': '0.01'},
  'values': [[1638643944, '0'],
   [1638643949, '0'],
   [1638643954, '0'],
   [1638643959, '0'],
   [1638643964, '0'],
   [1638643969, '0'],
   [1638643974, '0'],
   [1638643979, '0'],
   [1638643984, '0'],
   [1638643989, '0'],
   [1638643994, '0.09062221111191912'],
   [1638643999, '0.0906156213641652'],
   [1638644004, '0.09062730627977164'],
   [1638644009, '0.09062565860043997'],
   [1638644014, '0.09062895401901784'],
   [1638644019, '0.09061412652245046'],
   [1638644024, '0.0906306018181818'],
   [1638644029, '0.0906421380903024'],
   [1638644034, '0.09064213809030242'],
   [1638644039, '0.09061083218206936'],
   [1638644044, '0.1813055541410541'],
   [1638644049, '0.09061906848219319'],
   [1638644054, '0.0906437863689264'],
   [1638644059, '0.09061397407696922'],
   [1638644064, '0.09061067968224538'],
   [1638644069, '0.18124596934043752'],
   [1638644074, '0.18122619597432588'],
   [1638644079, '0.18125915398185027'],
   [1638644084, '0.18121960581101476'],
   [1638644089, '0.1812163109090909'],
   [1638644094, '0.18127234054162197'],
   [1638644099, '0.09057598123875144'],
   [1638644104, '0.1811677771312191'],
   [1638644109, '0.18112825249072795'],
   [1638644114, '0.18118754592077982'],
   [1638644119, '0.1811677771312191'],
   [1638644124, '0.09056774885479531'],
   [1638644129, '0.09059903987780263'],
   [1638644134, '0.09058092138753544'],
   [1638644139, '0.09060233492753358'],
   [1638644144, '0.09057268810558271'],
   [1638644149, '0.09059739244281192'],
   [1638644154, '0.09059739244281192'],
   [1638644159, '0.00003358967366602338'],
   [1638644164, '0.00003358723118034533'],
   [1638644169, '0.000033582347274471825'],
   [1638644174, '0.00003359211650696562'],
   [1638644179, '0'],
   [1638644184, '0'],
   [1638644189, '0'],
   [1638644194, '0'],
   [1638644199, '0'],
   [1638644204, '0'],
   [1638644209, '0'],
   [1638644214, '0'],
   [1638644219, '0.09054568493773293'],
   [1638644224, '0.09055885593759659'],
   [1638644229, '0.09054897732850936'],
   [1638644234, '0.0905786196235337'],
   [1638644239, '0.09055062361368678'],
   [1638644244, '0.09058915616647575']]},
 {'metric': {'instance': 'localhost:9090',
   'interval': '5s',
   'job': 'prometheus',
   'quantile': '0.05'},
  'values': [[1638643944, '0'],
   [1638643949, '0'],
   [1638643954, '0'],
   [1638643959, '0'],
   [1638643964, '0'],
   [1638643969, '0'],
   [1638643974, '0'],
   [1638643979, '0'],
   [1638643984, '0.000020709338471884524'],
   [1638643989, '0.00002070670350443318'],
   [1638643994, '0.09070545778488835'],
   [1638643999, '0.09069886198371145'],
   [1638644004, '0.09072946801934474'],
   [1638644009, '0.0907278184826282'],
   [1638644014, '0.09073111761604333'],
   [1638644019, '0.09071627340483547'],
   [1638644024, '0.09073276727272725'],
   [1638644029, '0.090744316549379'],
   [1638644034, '0.09074431654937902'],
   [1638644039, '0.09069226714171452'],
   [1638644044, '0.18144958353035315'],
   [1638644049, '0.09070051084407439'],
   [1638644054, '0.09072525094559207'],
   [1638644059, '0.09067650384482538'],
   [1638644064, '0.09067320717674647'],
   [1638644069, '0.1814064610572639'],
   [1638644074, '0.18138667018200988'],
   [1638644079, '0.27211846800152767'],
   [1638644084, '0.27205909561992037'],
   [1638644089, '0.2720541490909091'],
   [1638644094, '0.2721382645544987'],
   [1638644099, '0.1813397276710237'],
   [1638644104, '0.2720700792842595'],
   [1638644109, '0.2720107228565195'],
   [1638644114, '0.2720997672134725'],
   [1638644119, '0.2720700792842595'],
   [1638644124, '0.18132324583727186'],
   [1638644129, '0.18138589274998637'],
   [1638644134, '0.09067883972074758'],
   [1638644139, '0.09070027640886691'],
   [1638644144, '0.09067059753858459'],
   [1638644149, '0.09069532858129976'],
   [1638644154, '0.09069532858129976'],
   [1638644159, '0.00001773475138623794'],
   [1638644164, '0.00001773346179716079'],
   [1638644169, '0.00001773088318156239'],
   [1638644174, '0.000017736041162888274'],
   [1638644179, '0'],
   [1638644184, '0'],
   [1638644189, '0'],
   [1638644194, '0'],
   [1638644199, '0'],
   [1638644204, '0'],
   [1638644209, '0'],
   [1638644214, '0'],
   [1638644219, '0.09065945641305337'],
   [1638644224, '0.09067264396239795'],
   [1638644229, '0.09066275294074869'],
   [1638644234, '0.09069243248158589'],
   [1638644239, '0.09066440129449838'],
   [1638644244, '0.09068708340151639']]},
 {'metric': {'instance': 'localhost:9090',
   'interval': '5s',
   'job': 'prometheus',
   'quantile': '0.5'},
  'values': [[1638643944, '0.1818499472650567'],
   [1638643949, '0.1818135792593131'],
   [1638643954, '0.18182756545454543'],
   [1638643959, '0.18181890511081616'],
   [1638643964, '0.18184204822344255'],
   [1638643969, '0.18180898843720456'],
   [1638643974, '0.1818064666848468'],
   [1638643979, '0.2727212588404269'],
   [1638643984, '0.1817986002290534'],
   [1638643989, '0.18177418387378216'],
   [1638643994, '0.09091266635153807'],
   [1638643999, '0.09090477021524143'],
   [1638644004, '0.09091468673866407'],
   [1638644009, '0.09090896496554733'],
   [1638644014, '0.09091544881002164'],
   [1638644019, '0.09090057444101073'],
   [1638644024, '0.09091710181818181'],
   [1638644029, '0.1818526030585711'],
   [1638644034, '0.09092789082246834'],
   [1638644039, '0.09089648622118811'],
   [1638644044, '0.09093946640963155'],
   [1638644049, '0.09090474848655626'],
   [1638644054, '0.09092954429735234'],
   [1638644059, '0.09090144340017088'],
   [1638644064, '0.09090131610041628'],
   [1638644069, '0.1818592169627757'],
   [1638644074, '0.18184255504845717'],
   [1638644079, '0.2728102587884409'],
   [1638644084, '0.18183912071128566'],
   [1638644089, '0.2727489545454545'],
   [1638644094, '0.2728364639979631'],
   [1638644099, '0.27271742323704257'],
   [1638644104, '0.27279252800407333'],
   [1638644109, '0.3636427205294161'],
   [1638644114, '0.363761761175572'],
   [1638644119, '0.3637188936572592'],
   [1638644124, '0.2726940685668582'],
   [1638644129, '0.3637129961995163'],
   [1638644134, '0.27273373027416187'],
   [1638644139, '0.36372304558927826'],
   [1638644144, '0.2727089403552146'],
   [1638644149, '0.3637032039858894'],
   [1638644154, '0.36370638251445614'],
   [1638644159, '0.36363293155167703'],
   [1638644164, '0.27270576269337743'],
   [1638644169, '0.2726661086573241'],
   [1638644174, '0.27274542826494064'],
   [1638644179, '0.2726951318827143'],
   [1638644184, '0.18181682392509776'],
   [1638644189, '0.2727100039994183'],
   [1638644194, '0.18182991891203956'],
   [1638644199, '0.27278121033586095'],
   [1638644204, '0.18178695264927747'],
   [1638644209, '0.27270682627981385'],
   [1638644214, '0.27271674180998434'],
   [1638644219, '0.2727209835469503'],
   [1638644224, '0.2727606542175028'],
   [1638644229, '0.3636386506190572'],
   [1638644234, '0.36375769209784486'],
   [1638644239, '0.3636452619904731'],
   [1638644244, '0.27274712631138753']]},
 {'metric': {'instance': 'localhost:9090',
   'interval': '5s',
   'job': 'prometheus',
   'quantile': '0.9'},
  'values': [[1638643944, '0.09110785023276113'],
   [1638643949, '0.0910896296565642'],
   [1638643954, '0.09109459818181817'],
   [1638643959, '0.09109294194651006'],
   [1638643964, '0.09110453685856638'],
   [1638643969, '0.09108797360191986'],
   [1638643974, '0.09108631760749024'],
   [1638643979, '0.18217239423304185'],
   [1638643984, '0.18213860095620718'],
   [1638643989, '0.18211542642140469'],
   [1638643994, '0.18215515780670496'],
   [1638643999, '0.27320299956369987'],
   [1638644004, '0.27323280244354753'],
   [1638644009, '0.2732278348453721'],
   [1638644014, '0.2732377702223596'],
   [1638644019, '0.27319306671514276'],
   [1638644024, '0.2732427381818182'],
   [1638644029, '0.2732775189569582'],
   [1638644034, '0.18217819176986166'],
   [1638644039, '0.09106080491529121'],
   [1638644044, '0.09110386280144038'],
   [1638644049, '0.18213182504044942'],
   [1638644054, '0.09109392275240036'],
   [1638644059, '0.09107211001836063'],
   [1638644064, '0.09106879896747924'],
   [1638644069, '0.09110192031423324'],
   [1638644074, '0.0910963052530138'],
   [1638644079, '0.09111287213341335'],
   [1638644084, '0.09109299259986545'],
   [1638644089, '0.09109133636363635'],
   [1638644094, '0.0911131586126621'],
   [1638644099, '0.1821424873197957'],
   [1638644104, '0.09110891220541169'],
   [1638644109, '0.09108903534288415'],
   [1638644114, '0.09111251227585204'],
   [1638644119, '0.18219350087285424'],
   [1638644124, '0.1821272631425871'],
   [1638644129, '0.1821858636553743'],
   [1638644134, '0.1821494291324267'],
   [1638644139, '0.18219248968012947'],
   [1638644144, '0.18213287280263227'],
   [1638644149, '0.18218255082372622'],
   [1638644154, '0.09109194093901153'],
   [1638644159, '0.09106940096354878'],
   [1638644164, '0.0910627788180116'],
   [1638644169, '0.18209572859298037'],
   [1638644174, '0.09107267686042071'],
   [1638644179, '0.09105946810637873'],
   [1638644184, '0.09106940096354879'],
   [1638644189, '0.09106443426410706'],
   [1638644194, '0.09107436820479256'],
   [1638644199, '0.09108927318022293'],
   [1638644204, '0.09106016177406162'],
   [1638644209, '0.09107174956369983'],
   [1638644214, '0.09107506090244702'],
   [1638644219, '0.09107671666212164'],
   [1638644224, '0.000010664218048253966'],
   [1638644229, '0.00001066305474246538'],
   [1638644234, '0.000007318359552597633'],
   [1638644239, '0.091081684302389'],
   [1638644244, '0.09108665248459064']]},
 {'metric': {'instance': 'localhost:9090',
   'interval': '5s',
   'job': 'prometheus',
   'quantile': '0.99'},
  'values': [[1638643944, '0'],
   [1638643949, '0'],
   [1638643954, '0'],
   [1638643959, '0'],
   [1638643964, '0'],
   [1638643969, '0'],
   [1638643974, '0'],
   [1638643979, '0'],
   [1638643984, '0.09116933592684832'],
   [1638643989, '0.0911577359313654'],
   [1638643994, '0.0911776234455676'],
   [1638643999, '0.18232942844677133'],
   [1638644004, '0.18234931820661066'],
   [1638644009, '0.18234600294529388'],
   [1638644014, '0.18235263358848017'],
   [1638644019, '0.1823227994910016'],
   [1638644024, '0.18235594909090908'],
   [1638644029, '0.1823791609841252'],
   [1638644034, '0.18237916098412527'],
   [1638644039, '0.09116436413873337'],
   [1638644044, '0.0912074709926163'],
   [1638644049, '0.09117265075354046'],
   [1638644054, '0.000012561827174863661'],
   [1638644059, '0.00001255794506353692'],
   [1638644064, '0.000012557488502301405'],
   [1638644069, '0.000012562055609101534'],
   [1638644074, '0.000012560685128281587'],
   [1638644079, '0.00001256296942913966'],
   [1638644084, '0.000012560228367790368'],
   [1638644089, '0.000012560000000001862'],
   [1638644094, '0'],
   [1638644099, '0'],
   [1638644104, '0.0001473832557462939'],
   [1638644109, '0.00014735110173805891'],
   [1638644114, '0.00014739933801331598'],
   [1638644119, '0.09134490289496654'],
   [1638644124, '0.09131169381225913'],
   [1638644129, '0.09134324186714672'],
   [1638644134, '0.09132497454730565'],
   [1638644139, '0.09134656398319725'],
   [1638644144, '0.09131667363522332'],
   [1638644149, '0.09134158089973451'],
   [1638644154, '0.09134158089973451'],
   [1638644159, '0.09117596582128897'],
   [1638644164, '0.09116933592684832'],
   [1638644169, '0.09115607903011796'],
   [1638644174, '0'],
   [1638644179, '0'],
   [1638644184, '0'],
   [1638644189, '0'],
   [1638644194, '0'],
   [1638644199, '0'],
   [1638644204, '0'],
   [1638644209, '0'],
   [1638644214, '0'],
   [1638644219, '0.00014734842287065163'],
   [1638644224, '0.00014736985653763284'],
   [1638644229, '0.00014735378070287425'],
   [1638644234, '0.00014740201873238506'],
   [1638644239, '0.0913282953347151'],
   [1638644244, '0.09133327696867216']]}]

In [179]:
metric_object_list = MetricsList(query_range)

KeyError: '__name__'

again, MetricsList failed but MetricRangeDataFrame can handle it:

In [180]:
df = MetricRangeDataFrame(query_range)
df.head()

                  instance interval         job quantile value
timestamp
1638643944  localhost:9090       5s  prometheus     0.01     0
1638643949  localhost:9090       5s  prometheus     0.01     0
1638643954  localhost:9090       5s  prometheus     0.01     0
1638643959  localhost:9090       5s  prometheus     0.01     0
1638643964  localhost:9090       5s  prometheus     0.01     0

and again it ommits the \_\_name\_\_ column.

On one hand, we can just require from the user that all the queries will be specific such that they yield only one time-series. This will ease significantly all the process of make forecasts in the trainer, save them and extract them in the detector, along with the real-time data. On the other hand, maybe this is too restrictive requirement, since a lot of expresions in prometheus are natively designed to yield multiple time-series... So lets see what are the implications of supporting multiple time-series queries in our trainer-detector architecture:

Lets count the relevant processes in the trainer and the detector that need special attention to support multi-time-series queries:
1. extract the data from each query - need to use at least custom_query_range. Possibly pass the output to MetricRangeDataFrame, but not MetricsList (which not support non-metric expressions). In the general case we will get multiple metrics with unique labels values combination for each metric.
2. fit_predict - for each query need to run an inner loop and fit_predict each time-series.
3. save the forecasts - in some format... it can be csv for each individual metric with naming convention which includes the query and all the labels... can cause to more than 250 characters... not so good... maybe dump all the query_range data or the whole dataframe and the filenames will be serial number or shortened unique name (as done in Taboola).
4. getting real time-data - to get the labels of each time-series we need to call custom_query_range first to get the real-time data (last 10 minutes).
5. get forecasts - after getting all the labels combinations we need to extract their corresponding forecasts. for this we can compare the custom_query_range results above to the saved forecast data and use the data with the corresponding matched labels.

So supporting multiple time-series queries seems to be duable but need quite complex handling, so we can keep it as future feature and for now we restrict the queries to yield single time-series.

In [183]:
st = ""
len(st)

0